@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 188 86% 53%;
    --color-secondary: 188 86% 53%;
    --color-accent: 188 86% 53%;
    --grayscale-primary: 60 9% 98%;
    --grayscale-secondary: 24 10% 10%;
  }
}
